@font-face {
  font-family: "iconfont"; /* Project id 4740942 */
  src: url('iconfont.woff2?t=1731567535295') format('woff2'),
       url('iconfont.woff?t=1731567535295') format('woff'),
       url('iconfont.ttf?t=1731567535295') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-times-circle-fill:before {
  content: "\e7e1";
}

.icon-angle-down:before {
  content: "\e84c";
}

.icon-search:before {
  content: "\e82e";
}

.icon-all-fill:before {
  content: "\e7a4";
}

.icon-mail-fill:before {
  content: "\e7d0";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-times:before {
  content: "\e82a";
}

.icon-menu:before {
  content: "\e86b";
}

